.fixed-bg {
    background-image: url("index.jpg");
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
}